body {
	font-family: "Helvetica Neue";
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #000000;
    overflow:auto; /* Prevents stars from overflowing the screen */
}

/*------------------------------------Background--------------------------------------------*/

/*---------------------------------Header-----------------------------------------------*/

headerline {
	background-color: rgb(0, 0, 0);
	color: #ffffff;
	height: 2px;
	position: fixed;
	z-index: 3; /* Ensure header and footer are above the stars */
	left: 0;
	right: 0;
}

header {
	position: relative;
}



nav {
	display: inline-block;
	position: relative;
	left: 50%;
	margin-top: 15px;
	transform: translateX(-50%);
	font-size: 40px; /* Increase the font size */
	color: #ffffff;
}

nav p {
	color: #ffffff;
	text-shadow: 0 4px 15px rgb(255, 0, 0); /* Example subtle shadow */
}

/*---------------------------------Main-----------------------------------------------*/

main {
	position: relative;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}


/*---------------------------------About-----------------------------------------------*/

.about {
	position: relative;
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.image {
	position: relative;
	z-index: 2;
	align-items: center;
	margin-top: 50px;
	margin-left: 37.2%;
}
/*
.imageMe {
	box-shadow: 0 4px 15px rgb(255, 0, 0);
}
*/
.description{
	position: relative;
	font-size: xx-large;
	color: rgb(255, 255, 255);
	max-width: 60%;
	text-align: center; /* Center the text */
	margin-left: 20%;
}


/*---------------------------------Contacts-----------------------------------------------*/

.contacts{
	margin-top: 100px;
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.contactsContainer {
	display: flex;
	position: relative;
	justify-content: space-around;
	background-color: rgba(255, 255, 255, 0.55); /* Example light grey background with 80% opacity */
	padding: 20px; /* Example padding */
	border: 1px solid #ffffff; 
	box-shadow: 0 4px 8px rgb(255, 0, 0); /* Example subtle shadow */
	width: 70%; /* Example width, adjust as needed */
	border-radius: 20px; /* Optional: Adds rounded corners to the rectangle */
}

.contactsContainer a {
	width: 60px;
	height: 60px;
}


/* ---------------------------------Projects -----------------------------------------------*/

.projects {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}

.project1 {
    position: relative;
	width: 350px; /* Set the width of the diamond */
}

/* Styling for the image inside the diamond */
.image1 {
	width: 350px; /* Set the width of the diamond */
    height: 350px; /* Set the height of the diamond */
	position: relative; /* Position absolute for precise placement */
    top: 200px; /* Adjust the top position to center the diamond */
    left: -150px; /* Align the diamond horizontally */
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); /* Create a diamond shape using clip-path */;
}

/* Initial state of project1-content: hidden */
.project1-description {
    position: absolute;
	top: 200px; /* Adjust the top position to center the diamond */
    left: -150px; /* Align the diamond horizontally */
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;	
	transition: opacity 0.25s;
	display: flex;
	color: #ffffff;
	background: linear-gradient(to bottom, #3027aa, #b1321c);
	border-radius: 30%;
}

/* When hovering over project1, change project1-content to be visible */
.project1-description:hover{
    opacity: 0.9;
}

.project1-description > * {
	transform: translateY(20px);
	transition: transform 0.25s;
}

.project1-description > * {
	transform: translateY(0);
}

.project2 {
    width: 350px; /* Set the width of the diamond */
    height: 350px; /* Set the height of the diamond */
    position: relative; /* Position absolute for precise placement */
    top: 60px; /* Adjust the top position to center the diamond */
    left: 55px; /* Align the diamond horizontally */
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); /* Create a diamond shape using clip-path */
	background-color: rgb(255, 255, 255); /* Set the background color of the diamond */
}

/* Styling for the image inside the diamond */
.project2 img {
    width: 100%; /* Make the image fill the diamond container */
    height: 100%; /* Make the image fill the diamond container */
    object-fit: cover; /* Ensure the image covers the diamond container */
}

.project3 {
    width: 350px; /* Set the width of the diamond */
    height: 350px; /* Set the height of the diamond */
    position: relative; /* Position absolute for precise placement */
    top: -80px; /* Adjust the top position to center the diamond */
    left: -150px; /* Align the diamond horizontally */
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); /* Create a diamond shape using clip-path */
	background-color: rgb(255, 255, 255); /* Set the background color of the diamond */
}

/* Styling for the image inside the diamond */
.project3 img {
    width: 100%; /* Make the image fill the diamond container */
    height: 100%; /* Make the image fill the diamond container */
    object-fit: cover; /* Ensure the image covers the diamond container */
}


.project4 {
    width: 350px; /* Set the width of the diamond */
    height: 350px; /* Set the height of the diamond */
    position: relative; /* Position absolute for precise placement */
    top: -220px; /* Adjust the top position to center the diamond */
    left: 55px; /* Align the diamond horizontally */
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); /* Create a diamond shape using clip-path */
	background-color: rgb(255, 255, 255); /* Set the background color of the diamond */
}

/* Styling for the image inside the diamond */
.project4 img {
    width: 100%; /* Make the image fill the diamond container */
    height: 100%; /* Make the image fill the diamond container */
    object-fit: cover; /* Ensure the image covers the diamond container */
}

.project5 {
    width: 350px; /* Set the width of the diamond */
    height: 350px; /* Set the height of the diamond */
    position: relative; /* Position absolute for precise placement */
    top: -360px; /* Adjust the top position to center the diamond */
    left: -150px; /* Align the diamond horizontally */
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); /* Create a diamond shape using clip-path */
	background-color: rgb(255, 255, 255); /* Set the background color of the diamond */
}

/* Styling for the image inside the diamond */
.project5 img {
    width: 100%; /* Make the image fill the diamond container */
    height: 100%; /* Make the image fill the diamond container */
    object-fit: cover; /* Ensure the image covers the diamond container */
}

/*---------------------------------Footer-----------------------------------------------*/

footer {
	background-color: rgb(0, 0, 0);
    color: #ffffff; /* Changes the color of text in the h1 element to a shade of blue */
    font-size: 25px;
	position: relative ; /* set the position property to absolute */
  	height: 50px; /* set the height of the footer */
	z-index: 1; /* Ensure header and footer are above the stars */
	text-align: center;
}



/*---------------------------------Tabs-----------------------------------------------*/



@media only screen and (max-width: 600px) {
	main {
	  padding: 2rem;
	}
  
	footer p {
	  margin-right: 15px;
	}
	
	* {
	  transform: scale (0.6, 0.6);
	}
}